src/main/app/mocks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <data-mapper:config name="insurance_request_to_insurance_response" transformationGraphPath="insurance_request_to_insurance_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="insurance_request_to_insurance_request_rejected" transformationGraphPath="insurance_request_to_insurance_request_rejected.grf" doc:name="DataMapper"/>
    <data-mapper:config name="upsert_patient_to_upsert_patient_response" transformationGraphPath="upsert_patient_to_upsert_patient_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="get_patient_to_get_patient_response" transformationGraphPath="get_patient_to_get_patient_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="create_episode_to_create_episode_response" transformationGraphPath="create_episode_to_create_episode_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="find_episodes_to_find_episodes_response" transformationGraphPath="find_episodes_to_find_episodes_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="create_bill_to_create_bill_response" transformationGraphPath="create_bill_to_create_bill_response.grf" doc:name="DataMapper"/>
    <data-mapper:config name="audit_request_to_audit_response" transformationGraphPath="audit_request_to_audit_response.grf" doc:name="DataMapper"/>
    <flow name="PatientService" doc:name="PatientService" doc:description="Creates or locates existing patient records in the hospital's system.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8071" path="PatientService" doc:name="PatientService"/>
        <cxf:proxy-service port="PatientPort" namespace="http://www.mule-health.com/SOA/service/patient/1.0" service="PatientService" payload="body" wsdlLocation="service/PatientService.wsdl" doc:name="Proxy service"/>
        <mulexml:dom-to-xml-transformer></mulexml:dom-to-xml-transformer>
        <set-variable variableName="operation" value="#[xpath('fn:local-name(/*)')]" doc:name="operation"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.operation == 'upsertPatient']">
                <processor-chain doc:name="upsertPatient">
                    <data-mapper:transform config-ref="upsert_patient_to_upsert_patient_response" doc:name="&lt;upsertPatientRequest /&gt; to &lt;upsertPatientResponse /&gt;"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain doc:name="getPatient">
                    <data-mapper:transform config-ref="get_patient_to_get_patient_response" doc:name="&lt;getPatient /&gt; to &lt;getPatientResponse /&gt;"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
    <flow name="EHRService" doc:name="EHRService" doc:description="Creates or locates existing patient episodes in the hospital's system.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8071" path="EHRService" doc:name="EHRService"/>
        <cxf:proxy-service port="EHRPort" namespace="http://www.mule-health.com/SOA/service/ehr/1.0" service="EHRService" payload="body" wsdlLocation="service/EHRService.wsdl" doc:name="Proxy service"/>
        <mulexml:dom-to-xml-transformer></mulexml:dom-to-xml-transformer>
        <set-variable variableName="operation" value="#[xpath('fn:local-name(/*)')]" doc:name="operation"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.operation == 'createEpisode']">
                <processor-chain doc:name="createEpisode">
                    <data-mapper:transform config-ref="create_episode_to_create_episode_response" doc:name="&lt;createEpisode /&gt; to &lt;createEpisodeResponse /&gt;"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain doc:name="findEpisode">
                    <data-mapper:transform config-ref="find_episodes_to_find_episodes_response" doc:name="&lt;findEpisode /&gt; to &lt;findEpisodeResponse /&gt;"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
</mule>
